/* Write your CSS code here. */
.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.feedback-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.emojis-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
